.container-fluid{
  background-color: #EB8C66;
  
}

h1, h5{
  color: white;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

h3,p {
  color:white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.col-6{
  background: #EB8C66;
}
.col {
 background: #81C36C;
}

.container{
  background: #81C36C;
}

.d-block w-100{
  margin:1px;
}

#imageneschicas {
  border: 20%;
}